@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #d8d5d5;
}

.btn {
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-primary {
  background: #d0021b;
  color: black;
}

.btn-white {
  background: white;
  color: #d0021b;
}

a {
  text-decoration: none;
  color: black;
}

.App .app-container {
  display: flex;
}

.App .Header {
  width: 100%;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.App .Header .container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background: #d0021b;
  align-items: center;
  padding: 0 2rem;
}

.App .Header .container .header-left {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.App .Header .container .header-left .brand {
  font-size: 1.5rem;
  font-weight: 500;
}

.App .Sidebar {
  width: 280px;
  height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #cbc8c8;
  padding-top: 60px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: black;
  transition: all 0.5;
}

.App .Sidebar.compress {
  transition: all 0.5;
  width: 60px;
  overflow: hidden;
}

.App .Sidebar.compress .content .text {
  visibility: hidden;
}

.App .Sidebar .content {
  width: 100%;
  height: 100%;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5;
}

.App .Sidebar .content .sidebar-item {
  padding: 1rem;
  transition: all 0.35s;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.App .Sidebar .content .sidebar-item svg {
  margin-right: 0.5rem;
}

.App .Sidebar .content .sidebar-item:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: #b3adad;
}

.App .Sidebar .content .active {
  background: #b3adad;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Viewport {
  height: fit-content;
  width: 100%;
  padding-top: 60px;
  overflow: auto;
  color: black;
}

.App .Viewport .container {
  padding: 0 1rem;
  height: 100%;
}

.App .Users .MuiDataGrid-root {
  color: black;
  border: none;
  background: #cbc8c8;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Users .MuiDataGrid-columnSeparator {
  color: #e4e2e2;
}

.App .Users .MuiTypography-colorInherit {
  color: black;
}

.App .view {
  padding: 0.5rem 2rem;
}

.App .view h1 {
  margin: 1rem 1.5rem;
}

.App .Reports .content {
  background: #cbc8c8;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Reports .content .card {
  padding: 0.5rem 1rem;
  background: #cbc8c8;
  border-bottom: 1px solid grey;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.App .Reports .content .card small {
  align-self: flex-end;
}

.App .Reports .content .card:hover {
  background: #b8b2b2;
}

.App .Reports .content .card:last-child {
  border-bottom: none;
}

.App .Issues .content {
  background: #cbc8c8;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Issues .content .item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.App .Issues .content .item:hover {
  background: #bfbaba;
}

.App .Dashboard {
  height: 100%;
}

.App .Dashboard .counters-display {
  height: 90px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

.App .Dashboard .counters-display .counter {
  background: #f0efef;
  height: 100%;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Dashboard .counters-display .counter .count {
  font-size: 2rem;
  font-weight: 700;
}

.App .Dashboard .chart-container {
  margin: auto;
  background: #cbc8c8;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  grid-gap: 1rem;
}

.App .Dashboard .chart-container .chart {
  background: #f0efef;
  height: 30vh;
  padding: 1rem;
  width: 30vw;
  border-radius: 5px;
  position: relative;
}

.App .Login {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .Login .content {
  height: 300px;
  width: 350px;
  background: #ebe5e5;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Login .content .header {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background: #d0021b;
  border-radius: 5px 5px 0 0;
}

.App .Login .content .form-container {
  height: 75%;
  padding: 1rem 1.5rem;
}

.App .Login .content .form-container .form-input {
  margin-bottom: 1rem;
}

.App .Login .content .form-container .form-input label, .App .Login .content .form-container .form-input input {
  display: block;
}

.App .Login .content .form-container .form-input label {
  margin-bottom: 0.25rem;
}

.App .Login .content .form-container .form-input input {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #b33d4a;
  padding: 0.15rem 0.4rem;
  font-size: 0.9rem;
  appearance: none;
}

.App .Login .content .form-container .form-input input:focus {
  outline: none;
  border: 2px solid #b33d4a;
}

.App .Login .content .form-container button {
  width: 100%;
  padding: 0.5rem 1rem;
  color: white;
  background: #d0021b;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App .Login .content .form-container button:hover {
  background-color: #e9021e;
}
